https://www.bigdata-policing.kr/board/notice/view?idx=169&category= <br>
https://www.bigdata-policing.kr/board/b_contest/view?idx=167&category=

In [2]:
import pandas as pd

In [10]:
code = "https://ais7.s3.ap-northeast-2.amazonaws.com/%EC%82%AC%EB%B3%B8(29)+-+%ED%99%9C%EC%9A%A9%EB%8D%B0%EC%9D%B4%ED%84%B0/codeBook_v3.xlsx"
codeBook = pd.read_excel(code)
codeBook.head()

   No     컬럼명   컬럼 그룹  코드명  코드값
0   1  NPA_CL  경찰청 구분   본청    1
1   2  NPA_CL  경찰청 구분  서울청    8
2   3  NPA_CL  경찰청 구분  부산청    9
3   4  NPA_CL  경찰청 구분  대구청   10
4   5  NPA_CL  경찰청 구분  인천청   11

In [13]:
kp20 = "https://ais7.s3.ap-northeast-2.amazonaws.com/%EC%82%AC%EB%B3%B8(29)+-+%ED%99%9C%EC%9A%A9%EB%8D%B0%EC%9D%B4%ED%84%B0/KP2020.csv"
kp2020 = pd.read_csv(kp20, encoding='cp949')
kp2020.head()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,충남청,20/12/01 01:43:07.000000000,19,10,305,1.0,충청남도 보령시 궁촌동(행정:대천4동) 369,126.598345,36.341537,Y
1,대전청,20/12/01 02:05:04.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
2,대전청,20/12/01 02:06:52.000000000,13,10,601,1.0,NaN,127.404663,36.341685,NaN
3,충남청,20/12/01 02:37:25.000000000,19,10,606,3.0,충청남도 보령시 천북면 하만리 628-10,126.524980,36.474390,N
4,충남청,20/12/01 08:17:50.000000000,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN

In [14]:
kp21 = "https://ais7.s3.ap-northeast-2.amazonaws.com/%EC%82%AC%EB%B3%B8(29)+-+%ED%99%9C%EC%9A%A9%EB%8D%B0%EC%9D%B4%ED%84%B0/KP2021.csv"
kp2021 = pd.read_csv(kp21, encoding='cp949')
kp2021.head()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,대전청,21/03/07 00:00:01.000000000,13,10,604,3.0,대전광역시 서구 둔산동 1122,127.373676,36.350975,Y
1,대전청,21/03/07 00:02:13.000000000,13,10,201,1.0,대전광역시 유성구 상대동(원신흥동) 469-9,127.339018,36.347420,NaN
2,대전청,21/03/07 00:00:33.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
3,대전청,21/03/07 00:01:18.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
4,대전청,21/03/07 00:01:43.000000000,13,10,308,1.0,대전광역시 중구 선화동 141-16,127.420455,36.330413,NaN

In [15]:
npa = "https://ais7.s3.ap-northeast-2.amazonaws.com/%EC%82%AC%EB%B3%B8(29)+-+%ED%99%9C%EC%9A%A9%EB%8D%B0%EC%9D%B4%ED%84%B0/NPA2020.csv"
npa2020 = pd.read_csv(npa, encoding='cp949')
npa2020.head()

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,20200101,7,13,10,501,2,대전광역시 중구 목동(행정:목동) 360,127.409270,36.333010,Y
1,20200101,132,13,10,501,1,대전광역시 중구 대흥동(대흥동) 499-1,127.421295,36.325575,NaN
2,20200101,39,13,10,501,1,NaN,127.404663,36.341685,NaN
3,20200101,110,13,10,601,3,NaN,0.000000,0.000000,NaN
4,20200101,342,13,10,601,1,NaN,127.404663,36.341685,NaN

In [9]:
display(codeBook.loc[(codeBook.코드명 == "보이스피싱")])
display(codeBook.loc[(codeBook.코드명 == "교통사고")])

    No        컬럼명   컬럼 그룹    코드명  코드값
57  58  EVT_CL_CD  사건종별코드  보이스피싱  215

    No        컬럼명   컬럼 그룹   코드명  코드값
67  68  EVT_CL_CD  사건종별코드  교통사고  401

In [37]:
voice20 = kp2020.loc[(kp2020.EVT_CL_CD == 215)]
accident20 = kp2020.loc[(kp2020.EVT_CL_CD == 401)]

In [49]:
print(f"kp2020 보이스피싱 : {(voice20.SME_EVT_YN.count() / kp2020.SME_EVT_YN.count()) * 100}")
print(f"kp2020 교통사고 : {(accident20.SME_EVT_YN.count() / kp2020.SME_EVT_YN.count()) * 100}")

kp2020 보이스피싱 : 1.4878738282993602
kp2020 교통사고 : 9.5372712393989

In [40]:
voice21 = kp2021.loc[(kp2021.EVT_CL_CD == 215)]
accident21 = kp2021.loc[(kp2021.EVT_CL_CD == 401)]

In [50]:
print(f"kp2021 보이스피싱 : {(voice21.SME_EVT_YN.count() / kp2021.SME_EVT_YN.count()) * 100}")
print(f"kp2021 교통사고 : {(accident21.SME_EVT_YN.count() / kp2021.SME_EVT_YN.count()) * 100}")

kp2021 보이스피싱 : 1.0020643301996166
kp2021 교통사고 : 7.086692158458218

In [44]:
voice_npa20 = npa2020.loc[(npa2020.EVT_CL_CD == 215)]
accident_npa20 = npa2020.loc[(npa2020.EVT_CL_CD == 401)]

In [51]:
print(f"npa20 보이스피싱 : {(voice_npa20.SME_EVT_YN.count() / npa2020.SME_EVT_YN.count()) * 100}")
print(f"npa20 교통사고 : {(accident_npa20.SME_EVT_YN.count() / npa2020.SME_EVT_YN.count()) * 100}")

npa20 보이스피싱 : 1.069924309003634
npa20 교통사고 : 8.623889186042312

In [67]:
voice_npa20.sample(5)

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
740911,20200707,192136,19,10,215,2,충청남도 천안시 동남구 청당동(행정:청룡동) 481,127.156113,36.786832,NaN
1083534,20201026,221008,19,10,215,1,충청남도 서산시 팔봉면 어송리(행정:팔봉면) 산109,126.360185,36.800520,
783377,20200811,92933,19,10,215,2,충청남도 천안시 동남구 신부동(행정:신안동) 451-5,127.153650,36.818067,
522135,20200526,160446,19,10,215,1,충청남도 천안시 서북구 성거읍 저리(행정:성거읍) 57-32,127.200362,36.877174,NaN
897623,20200910,193723,19,10,215,2,세종특별자치시 세종시 한솔동(행정:한솔동) 971,127.251800,36.479170,

In [66]:
accident_npa20.sample(5)

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
597671,20200706,133913,13,10,401,1,대전광역시 서구 탄방동(행정:탄방동) 89-7,127.391806,36.340839,NaN
784920,20200811,72227,19,10,401,1,세종특별자치시 세종시 고운동(고운동) 157-20,127.246474,36.522648,
914101,20200913,135946,19,10,401,3,충청북도 청주시 흥덕구 옥산면 가락리 776-5 경부고속도로 옥산JC에서 옥산TG방...,127.372900,36.668330,
520168,20200528,120316,19,10,401,1,충청남도 홍성군 장곡면 천태리(장곡면) 342-8,126.759012,36.509694,NaN
803885,20200816,140223,19,10,401,2,충청남도 금산군 진산면 삼가리(행정:진산면) 46,127.397431,36.117604,

In [59]:
display(accident20.NPA_CL.unique())
display(accident21.NPA_CL.unique())
display(accident_npa20.NPA_CL.unique())

array([19, 13, 31, 21, 11, 18, 15, 10, 16,  8, 22, 20], dtype=int64)

array([13, 19, 31, 21, 18, 20, 15, 11, 16, 22,  8, 17, 10, 23, 12, 14,  9,
       24], dtype=int64)

array([13, 19], dtype=int64)

In [64]:
display(accident20.EVT_STAT_CD.unique())
display(accident21.EVT_STAT_CD.unique())
display(accident_npa20.EVT_STAT_CD.unique())

array([10], dtype=int64)

array([10,  5,  2,  3,  9], dtype=int64)

array([10,  5,  7,  2,  6], dtype=int64)

In [60]:
display(voice20.NPA_CL.unique())
display(voice21.NPA_CL.unique())
display(voice_npa20.NPA_CL.unique())

array([19, 13,  8, 31, 11, 15, 20, 23, 18, 12, 21,  9, 17], dtype=int64)

array([19, 13, 31, 10, 14, 12, 11,  8, 18, 20, 15, 23, 16,  9, 22, 21, 17],
      dtype=int64)

array([13, 19], dtype=int64)

In [63]:
display(voice20.EVT_STAT_CD.unique())
display(voice21.EVT_STAT_CD.unique())
display(voice_npa20.EVT_STAT_CD.unique())

array([10,  5], dtype=int64)

array([10,  5,  7,  9], dtype=int64)

array([10,  5,  7], dtype=int64)